/*
Error: Invalid mixin "======".
        on line 363 of C:\Users\vans0\Desktop\landing_for_ajax\style\style.sass

358:         text-decoration: none
359:         color: rgb(51, 51, 51)
360:         margin: 15px 0px
361: <<<<<<< HEAD
362: 
363: =======
364: >>>>>>> 32c8f22e459e88ccdca95d2430124053bbd97b1a
365: .modal
366:     position: fixed
367:     width: 100%
368:     height: 100%

Backtrace:
C:\Users\vans0\Desktop\landing_for_ajax\style\style.sass:363
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:1127:in `parse_mixin_definition'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:659:in `parse_line'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:540:in `build_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid mixin \"======\".\A         on line 363 of C:\Users\vans0\Desktop\landing_for_ajax\style\style.sass\A \A 358:         text-decoration: none\A 359:         color: rgb(51, 51, 51)\A 360:         margin: 15px 0px\A 361: <<<<<<< HEAD\A 362: \A 363: =======\A 364: >>>>>>> 32c8f22e459e88ccdca95d2430124053bbd97b1a\A 365: .modal\A 366:     position: fixed\A 367:     width: 100%\A 368:     height: 100%"; }
